<!-- Form for Searching News -->
<form class="form news-form" action="/news/searchNews" method="get">
    <input
        class="input news-input"
        type="text"
        name="q"
        placeholder="Search news topics..."
        required
    />
    <button class="btn news-s-btn" type="submit">Search</button>
</form>
<button class="btn">
    <a href="/news/getHeadlines">Latest Headlines</a>
</button>
