<div class="news-article">
    <a href="<%= article.url %>" target="_blank" class="news-title">
        <h2><%= article.title %></h2>
    </a>
    <p class="news-author"><%= article.author %></p>
    <p class="news-description"><%= article.description%></p>
</div>
