<div class="post">
    <h3><%= post.author.username %></h3>
    <!-- Assuming each post has an author object with a username -->
    <p><%= post.content %></p>
    <!-- You can add more post properties like date, likes, comments here -->
</div>
