<% layout("layout/boilerplate") %>

<h1>Post</h1>

<div class="content-section">
    <%- include('../partials/postPartials/postCard', { post: post }) %>
</div>

<% if(post.comments && post.comments.length > 0) { %>
<div class="comments-section">
    <% post.comments.forEach(comment => { %> <%-
    include('../partials/commentPartials/commentBody', { comment: comment }) %>
    <% }) %>
</div>
<% } else { %>
<p class="no-comment">No comments yet.</p>
<% } %> <% if(user) { %> <%- include('../partials/commentPartials/commentForm')
%> <% } else { %>
<p>
    You need to be logged in to comment.
    <a href="/users/login" class="login-link">Login here</a>
</p>
<% } %>
