<% layout("layout/boilerplate") %>

<h1>About - Bling</h1>


<div class="main-content">
  <h2>Welcome to Our Application!</h2>
  <p>
    Bling is an innovative social networking platform, designed to foster connections and share experiences. Crafted with MongoDB, Express, Node.js, and EJS, Bling offers a user-friendly and engaging environment.
  </p>

  <h3>Key Features:</h3>
  <ul>
    <li><strong>User Registration:</strong> New users can easily register and join our growing community.</li>
    <li><strong>Login/Logout Functionality:</strong> Users can securely log in and out of their accounts.</li>
    <li><strong>Interactive Home Page:</strong> Our home page serves as a hub, linking to various features and pages.</li>
    <li><strong>Search Functionality:</strong> Users can search for specific content within our app, leveraging our robust database integration.</li>
    <li><strong>API Access:</strong> We offer API access to our data, enabling integration and extensibility.</li>
    <li><strong>External API Integration:</strong> Our application fetches data from publicly available NEWS API for getting recent headlines and search for specific news</li>
    <li><strong>Data Persistence:</strong> Using MongoDB, we ensure data is stored securely and efficiently.</li>
  </ul>

  <p>
    Our platform is more than just a social media site; it's a community. Whether you're looking to connect with friends, share your thoughts, or explore new ideas, Bling is the perfect place to start. Thank you for being a part of our journey!
  </p>
</div>