<% layout("layout/boilerplate") %>

<h1 class="main-heading">Welcome to Bling</h1>

<div class="content-section">
    <!-- Insert Post Creation Form -->
    <%- include('partials/postPartials/postForm') %>

    <!-- Display Posts -->
    <% if (Array.isArray(posts) && posts.length > 0) { %> <%
    posts.forEach(function(post) { %> <%-
    include('partials/postPartials/postCard', { post: post }) %> <% }) %> <% }
    else { %>
    <p>No posts to display.</p>
    <% } %>
</div>
