<% layout("layout/boilerplate") %>

<h1>Post</h1>

<div class="content-section">
    <%- include('partials/postCard', { post: post }) %>
</div>

<% if(user) { %>
<form action="/comment/new" method="POST" class="comment-form">
    <textarea
        name="content"
        placeholder="Add your thoughts?"
        class="comment-input"
    ></textarea>
    <button type="submit" class="comment-btn">Add Comment</button>
</form>
<% } else { %>
<p>
    You need to be logged in to comment.
    <a href="/users/login" class="login-link">Login here</a>
</p>
<% } %>
