<form class="form search-form" action="/search/new_search" method="GET">
    <input
        type="text"
        name="query"
        placeholder="Search..."
        class="input"
        required
    />
    <select class="select query-options" name="type">
        <option value="posts">Posts</option>
        <option value="users">Users</option>
    </select>
    <button type="submit" class="btn">Search</button>
</form>
