<% layout("layout/boilerplate") %>

<h1>Login</h1>
<form class="form login-form" method="POST" action="/users/login">
    <label class="label login-label" for="username">Username:</label>
    <input class="input login-input"  id="username" type="text" name="username" placeholder="Username" />
    <label class="label login-label" for="password">Password: </label>
    <input
        class="input login-input"
        type="password"
        id="password"
        name="password"
        placeholder="Password"
    />
    <input class="btn" type="submit" value="Login" />
</form>
