<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/common/forms.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/common/buttons.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/components/navbar.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/components/postCard.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/components/commentCard.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/components/profile.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/styles/components/flashAlert.css"
        />
    </head>
    <body>
        <%- include("../partials/header") %>
        <%-include("../partials/flashMessage") %>
        <!-- parsed body rendered here -->
        <main><%- body %></main>
    </body>

    <script src="/js/toggleMenu.js"></script>
    <script src="/js/profileSectionToggle.js"></script>
    <script src="/js/flashMessage.js"></script>
</html>
