.news-articles {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.news-title h2,
.news-title a {
    color: #007bff;
    font-size: 16px;
    text-decoration: underline;
}

.news-author {
    font-style: italic;
    color: #555;
}

.news-description {
    margin-top: 10px;
}
