.post {
    min-width: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 20px -30px,
        rgba(0, 0, 0, 0.3) 0px 20px 10px -20px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 1rem auto;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}

.post-content {
    margin: 0 3rem;
}

.post-interactions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem; /* Spacing between post content and interactions */
    border-top: 1px solid #e1e8ed;
    min-height: 3rem;
}

.post-interactions .action-item {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 1rem 0;
    text-align: center;
    display: inline-block;
}

.post-interactions .action-item:hover {
    opacity: 0.8;
}

.post-interactions .likes-button {
    background-color: white;
    color: black;
}

.post-interactions .likes-button:hover {
    background-color: #1da1f2;
    color: #fff;
}

.post-interactions .likes-button.liked {
    background-color: #1da1f2;
    color: #fff;
}

.post-interactions .comments-action {
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
}

.post-interactions .comments-action:hover {
    background-color: #333;
    color: #fff;
}

.post-interactions .delete-btn {
    background-color: #e0245e;
    color: white;
}

.post-interactions .delete-btn:hover {
    background-color: #b71d4e;
}

/* Login Link Styling */
.login-link {
    color: #1da1f2;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline;
}
